// Fonts
$fontFamily:'Rubic-Regular', serif;
$secondFontFamily:'Rubic-Medium', serif;
// Container
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1110;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;

//Colors
$primary: #5267DF;
$secondary: #242A45;
$accent: #FA5959;
$black: #000;
$white: #fff;
$grey: #9194A2;
