.footer{
    &__content{
        background-color: $secondary;
        color:#fff;
        font-family: $fontFamily;
        font-weight: 400;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $md4+px){
            display: block;
        }
    }

    &__contacts {
        font-weight: 600;
        display:flex;
        @media (max-width: $md4+px){
            flex-direction: column;
            text-align: center;
        }
        
    }
    &__logo{
        @media (max-width: $md4+px){
            text-align: center;
        }
    }

    .menu {
        &__body
        {
            width: 60%;
            min-width: 400px;
            @media (max-width: $md4+px){
                min-width: 100%;
                width: 100%;
            }
            }
    }
    &__social-icon{
        height: 25px;
        width: 25px;
        path{
            fill:#fff;
            transition: fill .3s;
        }
        &:hover{
            path{
            fill: $accent;
            }
        }
    }
}
.contacts {
    &__social-media-icons{
    }
}
