.main-heading {
    width: 100%;
    &__btn {
        font-size: 14px;
        padding: 10px 25px;
        background-color: #F7F7F7;
        text-transform: none;
        letter-spacing: 0.25px;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;
        @media (max-width:$md3+px) {
            // padding: 5px 10px;
        }
        @media (max-width: $md4+px) {
        }
        &:hover{
            cursor: pointer;
        }
    }

    &__container {
        display: flex;
        overflow: hidden;
        padding-bottom: 56px;
    }

    &__title {
        font-weight: 600;
        line-height: 1.5;
        color: $black;
        text-align: left;
        @include adaptive-value('font-size', 48, 38, 0);
        text-transform: none;
        margin:0;
        @media (max-width: $md4+px) {
            font-size: 30px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 28px;       
        color: #242A45;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    &__info-wrapper{
        display: flex;
        align-items: center;
        @media (max-width: $md4+px){
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__text-container{
        max-width: 50%;
        @media (max-width: $md4+px){
            max-width: 100%;
            text-align: center;
        }
    }
    &__image-container{
        img{
            width: 100%;
        }
        @media (max-width: $md4+px){
            width: 80%;
        }
    }
    &__container{
        position:relative;
        width: 100%;
        &:after{
            content: "";
            height: 352px;
            width: 1000px;
            position: absolute;
            left: 50%;
            top: 100px;
            background-color: $primary;
            z-index: -1;
            border-radius: 316.5px;
            @media (max-width: $md4+px){
                top: 20px;
                height: 203px;
                width: 577px;
            }
        }
    }
}